# IDE
.idea/
.code/

# Dependencies
node_modules/
package-lock.json

# Test
test/**/*.log
test/**/log.*
**/coverage

# Compiled Output
**/build
**/dist

# environment
**/.env

# System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
*~
._*
*.swp
.Spotlight*
.Trashes
