{
	"printWidth": 160,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"semi": true,
	"useTabs": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-jsdoc"],
	"jsdocDescriptionWithDot": true,
	"jsdocDescriptionTag": false,
	"jsdocVerticalAlignment": true,
	"jsdocCommentLineStrategy": "singleLine",
	"jsdocSeparateReturnsFromParam": true,
	"jsdocSeparateTagGroups": true,
	"jsdocPreferCodeFences": true,
	"jsdocPrintWidth": 100,
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true
}
