{
    "include": [
        "lib/**/*.js"
    ],
    "exclude": [
        "test/**/*.spec.js",
        "lib/**/*.d.ts"
    ],
    "extension": [".js"],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "require": [
        "esm"
    ],
    "check-coverage": false,
    "cache": true,
    "instrument": true
}
