{
  "printWidth": 180,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": true,
  "parser": "typescript",
  "jsxBracketSameLine": false
}
